/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* generics */

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

header {
    max-width: 1495px;
}


/* header */

.h-head {
    background-color: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: 30px;
}

h3 {
    align-self: flex-start;
}

.right-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding-left: 10px;
}

.left-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 26%;
    padding-right: 10px;
}

.logo {
    cursor: pointer;
    width: 90px;
}

.opt {
    color: #767676;
    font-size: 13px;
    cursor: pointer;
}

.butt {
    padding: 7px 10px;
}

button.blu {
    background-color: #0061FF;
    color: #fff;
    border: none;
    cursor: pointer;
}


/* main */

/* function */

.function {
    background-color: #B4D0E7;
    padding-top: 65px;
}

.cont-l {
    max-width: 950px;
    margin: 0 auto;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 60px;
}

.desc {
    max-height: 275px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.desc-right {
    line-height: 20px;
}

.text {
    font-size: 14px;
    margin-bottom: 14px;
}

.button-margin {
    margin: 15px 0px;
}

.icon-a {
    font-size: 35px;
    margin: 25px 0 0 0;
}

.illustartion {
    width: 600px;
}

/* palne */

.plane {
    margin-top: 130px;
}

.cont-m {
    max-width: 860px;
    margin: 0 auto;
    width: 100%;
}

h2 {
    font-weight: 600;
    font-size: 30px;
    margin-top: 100px;
}

.checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 50px 0 30px 0;
}

.check {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
}

div.blu {
    background-color: #0061FF;
}

.bill {
    margin: 0px 45px 0px 5px;
}

.who {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 25px;
}

.person {
    width: calc(100% /3);
}

.thats-who {
    width: 100%;
    border: 2px solid #DEDEE0;
    padding: 10px 95px;
    font-size: 12px;
}

.icon-w {
    margin-right: 5px;
}

.single {
    border: 2px solid #DEDEE0;
    padding: 25px 10px 0 10px;
    margin-top: -1px;
    width: 100%;
    height: 100%;
}

.strong {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 15px;
}

.price {
    font-weight: 800;
    font-size: 12px;
    margin-bottom: 10px;
}

.w-pay {
    font-size: 10px;
    color: #796E69;
    margin-bottom: 20px;
}

.rule {
    font-size: 10px;
    margin: 10px 0;
    align-items: baseline;
    display: inline-flex;
}

.gratis {
    width: 100%;
    padding: 10px 10px;
    margin-top: 20px;
    font-size: 10px;
}

.now {
    font-size: 12px;
    margin: 15px 0;
}

hr {
    width: 40px;
    margin: 35px 0;
}

ul {
    list-style-type: none;
    line-height: 10px;
    margin: 10px 0;
}

.list-title {
    font-weight: 700;
    font-size: 12px;
    margin: 0 0 15px 0;
}

.blu-c {
    color: #0061FF;
}

.list-item {
    display: flex;
    margin: 10px 0;
    line-height: 15px;
    font-size: 12px;
}

.ex {
    width: 100%;
    margin: 100px 0 0 0;
    border: 2px solid #DEDEE0;
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.team {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.team-b {
    padding: 5px 20px;
    font-size: 10px;
}

.desc-team {
    margin: 60px 0 10px 0px;
    width: 70%;
    font-size: 13px;
}

/* contact */

.contact {
    margin-top: 100px;
}

.partner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.office {
    width: 550px;
}

button.white {
    background-color: #fff;
    color: #3C3C3C;
    border: 2px solid #3C3C3C;
    cursor: pointer;
    margin-top: 14px;
}

.p-text {
    padding: 35px 0;
}

h4 {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 15px;
}

/* operation */

.operation {
    padding-top: 100px;
}

.title-op {
    margin: 35px 0 30px 0;
}

.option-up {
    display: flex;
    gap: 11px;
}

.option-down {
    display: flex;
    gap: 11px;
    padding-top: 30px;
}

.opt-img {
    width: 280px;
    text-align: center;
}

.opt-text {
    font-size: 12px;
}

.cont-cli {
    max-width: 65%;
    margin: 150px 0 50px 0;
}

.title-cli {
    margin-bottom: 35px;
}

/* sponsor */

.sponsor {
    max-width: 1495px;
    padding-top: 100px;
}

.cont-xl {
    width: 100%;
    margin: 0 auto;
    height: 492px;
}

.flex-sponsor {
    display: flex;
    justify-content: space-between;
    
}

.sponsor-img {
    width: 100px;
}

.conteiner-img {
    width: calc(100% / 3);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
}

.conteiner-text {
    display: flex;
    padding: 35px;
    justify-content: flex-start;
    max-width: 33%;
    background-color: #F5F5F5;
}

.wrap-img {
    width: 50%;
    height: 50%;
    padding: 50px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsor-p {
    font-size: 13px;
    margin-bottom: 35px;
}

.hr-s {
    width: 95px;
}

.p-img-s {
    width: 190px;
}

.bgc-v {
    background-color: #A2D39B;
}

.bgc-a {
    background-color: #61082B;
}

.bgc-b {
    background-color: #0093CE;
}

.bgc-r {
    background-color: #FF1C1C;
}

.bgc-rs {
    background-color: #D5001F;
}

.bgc-c {
    background-color: #B4D0E7;
}

.bgc-bs {
    background-color: #0D2481;
}

.bgc-g {
    background-color: #FFD830;
}

/* take */

.take {
    background-color: #B4D0E7;
}

.take-cont {
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.take-title {
    margin: 0;
    color: #61082B;
    width: 55%;
}

button.no-border-butt {
    border: none;
    padding: 7px 35px;
}