/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* generics */

body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

header {
    max-width: 1495px;
}


/* header */

.h-head {
    background-color: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: 30px;
}

h3 {
    align-self: flex-start;
}

.right-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding-left: 10px;
}

.left-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 26%;
    padding-right: 10px;
}

.logo {
    cursor: pointer;
    width: 90px;
}

.opt {
    color: #767676;
    font-size: 13px;
    cursor: pointer;
}

.butt {
    padding: 7px 10px;
}

button.blu {
    background-color: #0061FF;
    color: #fff;
    border: none;
    cursor: pointer;
}


/* main */

.function {
    background-color: #B4D0E7;
    padding-top: 65px;
}

.cont-l {
    max-width: 905px;
    margin: 0 auto;
    width: 100%;
}

h1 {
    font-weight: 800;
    font-size: 60px;
}

.desc {
    max-height: 275px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.desc-right {
    line-height: 20px;
}

.text {
    font-size: 14px;
}

.button-margin {
    margin: 15px 0px;
}

.icon-a {
    font-size: 35px;
    margin: 25px 0 0 0;
}

.illustartion {
    width: 600px;
}